/* Btn Reset? */

/* Styles for the React Dropdown */

.react-dropdown {
    position: relative;
}

.react-dropdown-item {
    padding: 0;
    cursor: pointer;
    border: none;
    background: none;
    color: hsl(var(--clr-light-text));
    position: relative;
}

.react-dropdown-item::after {
    content: url(../../../assets/Decoration/DownArrow.svg);
    display: inline-block;
    width: 12px;
    position: absolute;
    top: -6px;
    right: -14px;
    transition: .4s;
    transition-delay: .2s;
}

.react-dropdown-item:hover::after {
    top: -4px;
}

.react-dropdown-menu {
    position: absolute;
    top: 35px;
    border: 1px solid hsl(var(--clr-background-light-top));
    padding: 1rem 2rem;
    background-color: white;
    border-radius: var(--border-radius);
}
