---
import Layout from '../../layouts/LandingLayout.astro';

const testimonials =[
   {
      "feedback":"Overleaf + CiteDrive is the best. I can't wait to write my paper.",
      "author":"Josh (Standford)"
   },
   {
      "feedback":"I strongly recommend this to my friends, colleagues, and students who are using Overleaf.",
      "author":"gosh (MIT)"
   }
]

---

<Layout title="Welcome to CiteDrive" lang="fr">
<main class="main">
   <section class="hero">
      <h1>Pipeline Your Research Data (FR)</h1>
      <p>Keep your references and colleagues
         organized in projects with the most
         straightforward BibTeX-first reference management
         tool in the universe.
      </p>
      <button>Get started!</button>
      <p>Get started with your first</p>
   </section>
   <section class="testimonials">
      <h2>Loved by 1000000000 users</h2>
      <!-- todo: university list  -->
      <div class= "testimonial-grid">
      {testimonials.map((testimonial) => (
      <div class="testimonial">
         <span>{testimonial.feedback}</span>
         <span>{testimonial.author}</span>
      </div>
      ))}
      <div>
   </section>
   <section class="features">
      <h2>Slogan</h2>
      <div class="feature">
         <h3>BibTeX</h3>
         <p>explainer</p>
         <div class="sub_feature">
            <h4>SUB</h4>
            sub feature 1
         </div>
         <div class="sub_feature">
            <h4>SUB</h4>
            sub feature 2
         </div>
         <div class="sub_feature">
            <h4>SUB</h4>
            sub feature 3
         </div>
      </div>
      <div class="feature">
         <h3>Cite in context</h3>
         <p>explainer</p>
         <div class="sub_feature">
            <h4>SUB</h4>
            sub feature 1
         </div>
         <div class="sub_feature">
            <h4>SUB</h4>
            sub feature 2
         </div>
         <div class="sub_feature">
            <h4>SUB</h4>
            sub feature 3
         </div>
      </div>
      <div class="feature">
         <h3>Collaborator</h3>
         <p>explainer</p>
         <div class="sub_feature">
            <h4>SUB</h4>
            sub feature 1
         </div>
         <div class="sub_feature">
            <h4>SUB</h4>
            sub feature 2
         </div>
         <div class="sub_feature">
            <h4>SUB</h4>
            sub feature 3
         </div>
      </div>
   </section>
   <section class="get_started">
    <h2>Get started</h2>
    <p>Let's do it</p>
    <button>start now</button>
   </section>
</main>

</Layout>


<style>
    .main{
    max-width: 1200px;
    padding-top: 5rem;
    margin: auto;
    }
    .hero{
    background: #cee5ee;
    padding: 1rem;
    margin: 1rem;
    }
   .testimonials{
   background: #ceeecf;
   padding: 1rem;
   margin: 1rem;
   }
   .testimonial-grid{
   background: #b68e8e;
   padding: 1rem;
   margin: 1rem;
   }
  .testimonial{
  background: #cda2a2;
  padding: 1rem;
  margin: 1rem;
  }
   .features{
   background: #d0ceee;
   padding: 1rem;
   margin: 1rem;
   }
   .feature{
   background: #b68e8e;
   padding: 1rem;
   margin: 1rem;
   }
   .sub_feature{
   background: #dfe0c0;
   padding: 1rem;
   margin: 1rem;
   }
   .get_started{
   background: #cee5ee;
   padding: 1rem;
   margin: 1rem;
   }
</style>
