---
import TableOfContents from './TableOfContents';
const { headings, githubEditUrl, lang } = Astro.props as Props;

---

<nav >
	<div >
      <h4>Quick start</h4>
	<ul class="ova" >



    <li class="list">
    <a class="link" href={lang === "en" ? "/docs/quick-start" : "/" + lang + "/docs/try"}>
		  Quick start
		</a></li>

    <li class="list">
    <a class="link" href={lang === "en" ? "/docs/quick-start" : "/" + lang + "/docs/try"}>
		  Quick start
		</a></li>

    <li class="list">
    <a class="link" href={lang === "en" ? "/docs/quick-start" : "/" + lang + "/docs/try"}>
		  Quick start
		</a></li>

    <li class="list">
    <a class="link" href={lang === "en" ? "/docs/quick-start" : "/" + lang + "/docs/try"}>
		  Quick start
		</a></li>



  </ul>

    <h4>Add References</h4>


      <h4>Overleaf Setup</h4>


            <h4>How-Tos</h4>

            <h4>BibLaTeX Basics</h4>
      <h4>BibTeX Basics</h4>

      <h4>Natbib Basics</h4>


	</div>
</nav>


<style>

.list{
font-size: 14px;
    list-style: none;
    margin-bottom: 6px;

}

.ova{
padding: 5px;
}

.link{
  text-decoration: none;
}


</style>
