---
import TableOfContents from './TableOfContents';
const { headings, githubEditUrl, lang } = Astro.props as Props;

const thisLang = lang === 'en' ? '' : '/' + lang;

const path = '../../pages' + "thisLang" + '/blog/*.{md,mdx}'

const posts = (await Astro.glob('../../pages/blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);

---

<nav >
	<div >
      <h4>Latest posts</h4>
	<ul class="ova" >


{posts.map((post) => (
						<li class="post">
            {/*
							<time datetime={post.frontmatter.pubDate}>
								{new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', {
									year: 'numeric',
									month: 'short',
									day: 'numeric',
								})}
							</time>
*/}

							<a href={post.url}>{post.frontmatter.title}</a>
						</li>
					))}

  </ul>



	</div>
</nav>


<style>

.list{
font-size: 14px;
    list-style: none;
    margin-bottom: 6px;
}

.post{
margin-bottom: 1rem;
}

.ova{
padding: 5px;
}

.link{
  text-decoration: none;
}


</style>
