---
import InternalLink from '../InternalLink.astro';
import TableOfContents from './TableOfContents';
const { headings, githubEditUrl } = Astro.props;


---
<nav class="rightSideBar">
	<div>
	<h4>On this page</h4>
	{typeof headings !== "undefined" && headings.length > 1 &&
			<>
			<ul>
				{headings
					.filter(({ depth }) => depth > 1 && depth < 4)
					.map((heading) => (
						<li style="list-style: none;">
							<a class="anchor" href={`#${heading.slug}`}>{heading.text}</a>
						</li>
					))}
			</ul>
			</>
			}
	</div>

	<a class="banner" href="/">
<img src="/assets/Banner/banner.svg" alt="Try CiteDrive!">
</a>

</nav>



<style>

.anchor {
	font-size: .9rem;
	text-decoration: none;
	color: hsl(var(--clr-secondary));
}

.banner {
	display: none;
}

@media only screen and (min-width: 1028px) {
   .anchor {
	font-size: 12px;
	text-decoration: none;
	color: hsl(var(--clr-secondary));
}

.banner {
	display: block;
	margin-top: 3rem
}

}

@media only screen and (min-width: 1280px) {

.rightSideBar{
      overflow-x: hidden;

      height: calc(100vh - 120px);
      position: sticky;
      top: 104px;
   }

}

</style>

<script>


</script>
