---
import InternalLink from '../InternalLink.astro';
import TableOfContents from './TableOfContents';
const { headings, githubEditUrl } = Astro.props;
---

<nav>
	<div>
	{headings.length > 1 &&
			<>
			<ul>
				{headings
					.filter(({ depth }) => depth > 1 && depth < 4)
					.map((heading) => (
						<li style="list-style: none;">
							<a class="anchor" href={`#${heading.slug}`}>{heading.text}</a>
						</li>
					))}
			</ul>
			</>
			}
	</div>
</nav>

<a class="banner" href="/">
<img src="assets/Banner/banner.svg" alt="Try CiteDrive!">
</a>

<style>

.anchor {
	font-size: .9rem;
	text-decoration: none;
	color: hsl(var(--clr-secondary));
}

.banner {
	display: none;
}

@media only screen and (min-width: 1028px) {
   .anchor {
	font-size: 12px;
	text-decoration: none;
	color: hsl(var(--clr-secondary));
}

.banner {
	display: block;
	margin-top: 3rem
}

}

</style>

<script>


</script>
