---
import DocsLayout from '../../layouts/DocsLayout.astro';
const { doi } = Astro.params;



---
<DocsLayout title={"slug"} descpription = {doi} lang={"en"}  >


  <h1>{doi} </h1>

  <p>something</p>

</DocsLayout>
