---

const { slug } = await Astro.params;
let url = "https://api.crossref.org/works/" + slug;
const response = await fetch(url);
const data = await response.json();
console.log(data);
import MiniLayout from '../../layouts/MiniLayout.astro';

---
<MiniLayout   >
  <h1>{slug} | {data.message.title[0]}</h1>
  <p>{slug}</p>
</MiniLayout>