---
import Layout from '../layouts/LandingLayout.astro';
import '../styles/index.css';
import '../styles/theme.css';

const testimonials =[
   {
      "feedback":"Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.",
      "author":"Josh (Standford)"
   },
   {
      "feedback":"Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.",
      "author":"gosh (MIT)"
   },
    {
       "feedback":"Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.",
       "author":"Josh (Standford)"
    },
    {
       "feedback":"Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.",
       "author":"gosh (MIT)"
    },
     {
        "feedback":"Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.",
        "author":"Josh (Standford)"
     },
     {
        "feedback":"Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.",
        "author":"gosh (MIT)"
     },

]

---

<Layout title="Welcome to CiteDrive" lang="en">






<!-- Legacy Test -->

<!-- <div class="container grid" style="--gap: 2.5rem">
<div class="box">a</div>
<div class="box">b</div>
<div class="box">c</div>
<div class="box sr-only">d</div>
</div> -->





   <!--
<main class="main">

 <section class="hero">
      <h1 class="hero_headline">Pipeline Your Research Data</h1>
      <p>Keep your references and teams organized in projects with the world's most straightforward BibTeX-first reference management tool. Built from the ground up to stay out of your way and help you focus on writing.
      </p>
      <button>Get started!</button>
      <p>Overleaf, BibLaTeX, RStudio, R Markdown and Quarto
are great options for getting started. More options. </p>
   </section>

   <section class="testimonials">

    todo: university list  
      
      <div class= "testimonial-grid">
      {testimonials.map((testimonial) => (
      <div class="testimonial">
         <span>{testimonial.feedback}</span>
         <span>{testimonial.author}</span>
      </div>
      ))}
      <div>
   </section>

   <section class="features">
      <h2>Streamline Your bibliographic research</h2>
      <p>
      Many reference management systems are jam-packed with features and include many plugins,
allowing them to do everything that CiteDrive can. This comes at the cost of a steeper learning curve.

CiteDrive attempts to streamline bibliographic management by being laser-focused and BibTeX-empowered,
as well as reducing clicks and general tedium. We focus on one thing and do it well - being the best
reference management tool for LaTeX and Markdown users.
      </p>
      <div class="feature">
         <h3>BibTeX</h3>
         <p>explainer</p>
         <div class="sub_feature">
            <h4>Magic .bib-file</h4>
            sub feature 1
         </div>
         <div class="sub_feature">
            <h4>BibTeX editor</h4>
            sub feature 2
         </div>
         <div class="sub_feature">
            <h4>Error controll</h4>
            sub feature 3
         </div>
      </div>
      <div class="feature">
         <h3>Cite in context</h3>
         <p>explainer</p>
         <div class="sub_feature">
            <h4>SUB</h4>
            sub feature 1
         </div>
         <div class="sub_feature">
            <h4>SUB</h4>s
            sub feature 2
         </div>
         <div class="sub_feature">
            <h4>SUB</h4>
            sub feature 3
         </div>
      </div>
      <div class="feature">
         <h3>Collaborator</h3>
         <p>explainer</p>
         <div class="sub_feature">
            <h4>SUB</h4>
            sub feature 1
         </div>
         <div class="sub_feature">
            <h4>SUB</h4>
            sub feature 2
         </div>
         <div class="sub_feature">
            <h4>SUB</h4>
            sub feature 3
         </div>
      </div>
   </section>

   <section class="get_started">
    <h2>Get started</h2>
    <p>Let's do it</p>
    <button>start now</button>
   </section> 

</main>
-->

</Layout>


<style>
    /* .main{
    max-width: 1200px;
    padding-top: 5rem;
    margin: auto;
    }
    .hero{
        width: 800px;
    margin: 0 auto;
    max-width: 100%;
    }
    .hero_headline{

    font-size: 40px;
    font-weight: 500;
    line-height: 86px;
    margin-bottom: 24px;

    }
   .testimonials{
   padding: 1rem;
   margin: 1rem;
   }
   .testimonial-grid{
    display: flex;
    padding: 10px 30px;
    flex-wrap: wrap;
    justify-content: center;
   }
  .testimonial{
    background: #F2F2F2;
    border-radius: 30px;
    padding: 25px 30px;
    margin: 10px 20px 20px 20px;
    font-size: 17px;
    line-height: 1.5;
    max-width: 700px;
    color: var(--text-muted);
    width: calc(50% - 60px);
  }
  @media only screen and (max-width: 720px){
.testimonial {
    width: 100%;
    max-width: 100%;
    padding: 0 20px;
    margin: 20px 10px;
}}
   .features{
   background: #d0ceee;
   padding: 1rem;
   margin: 1rem;
   }
   .feature{
   background: #b68e8e;
   padding: 1rem;
   margin: 1rem;
   }
   .sub_feature{
   background: #dfe0c0;
   padding: 1rem;
   margin: 1rem;
   }
   .get_started{
   background: #cee5ee;
   padding: 1rem;
   margin: 1rem;
   } */
</style>
