---


let url = "https://api.crossref.org/works/10.4000/kentron.5990";
const response = await fetch(url);
if (!response.ok) throw new Error(`HTTP error! Status: ${response.status}`);
const data = await response.json();
console.log(data);
//if (!page) return Astro.redirect("/404");
//const { title, text } = page;
---
<html>
<head>
  <title>This slug: </title>
</head>
<body>
  <h1>dasd</h1>
  <h1>{data.message.title[0]} </h1>
</body>
</html>