---
import '../../styles/theme.css';
import '../../styles/index.css';
import SEO from "./SEO.astro"
import Logo from "./Logo.astro"
const { title, lang, dir } = Astro.props;
---

<!DOCTYPE html>
<html dir={dir ?? 'ltr'} lang={lang} class="initial">

	<head>

<SEO title={title} lang={lang} ></SEO>


	</head>
  <header class="header">
  <a href= `/${lang == "en" ? "" : lang + "/"}` + >
        	<Logo class="logo"/></a>
            	<div></div>


                	<div class="navbar__items"> <a href="/docs" class= "navbar__item">Docs </a>  <a href="/blog" class= "navbar__item">Blog </a>  <button class= "navbar__item">Get started</button> <a href="/blog" class= "navbar__item">Login </a></div>

  </header>
    <slot />
</html>


<style>
  .header{
    width: 100%;
    position: fixed;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    top: 0px;
    z-index: 9999;
    color: rgb(42, 42, 42);
    transition: all 0.5s ease 0s;
    box-shadow: none;
    background-color: var(--theme-bg);
    padding: 1rem 16px;
}

  .nav{

    display: flex;

}

.navbar__items{
  display: flex;

  align-items: center;

min-width: 0;

}

.navbar__item {
    display: inline-block;
    padding: 0.25rem 0.75rem;
    text-decoration: none;
    color: #1c1e21;
    font-weight: 500;
}

    .logo{
    width: "10%";
    }

    </style>
