---
// import '../../styles/theme.css';
// import '../../styles/index.css';
// import SEO from "./SEO.astro"
import Logo from "./Logo.astro"
import Navigation from "./Navigation.astro";
const { title, lang, dir } = Astro.props;
---

<!-- <html dir={dir ?? 'ltr'} lang={lang} class="initial">
<head>
   <SEO title={title} lang={lang} ></SEO>
</head> -->

<header>
   <!-- <a href= `/${lang == "en" ? "" : lang + "/"}` + > -->
   <!-- <Logo class="logo"/> -->
   <!-- </a> -->
   <!-- <div class="navbar__items"><a href="/overleaf/" class= "navbar__item">Overleaf </a> <a href="/overleaf/" class= "navbar__item">RStudio </a> <a href="/docs/" class= "navbar__item">Docs </a>  <a href="/blog/" class= "navbar__item">Blog </a> <a href="/overleaf/" class= "navbar__item">Pricing </a>  </div>
   <div class="navbar__items"> <button class= "navbar__item">Get started</button> <a href="/blog" class= "navbar__item">Login </a></div> -->
   <div class="header flex" style="justify-content: space-between; align-items: center;">
   <a href="/">
   <Logo class="logo"/>
   </a>
   <Navigation />
   <div>
      <a href="">Sign-in</a>
      <a href="">Log-in</a>
   </div>
   </div>

</header>

<style>
   .header {
      padding: 2rem 4rem;
   }

   .logo{
   width: 36px;
   } 

</style>
