---
import Dropdown from "../Dropdown/Dropdown.astro";
import ReactDropdown from "../Dropdown/ReactDropdown.tsx";

---


    <ul class="flex" style="list-style: none; padding-left: 65px; --gap: 2rem;">
        <ReactDropdown label="Features" client:load></ReactDropdown>
        <ReactDropdown label="Integrations" client:load>
            <ul class="grid" style="list-style: none; padding: 0">
                <li><a href="/">Overleaf</a></li>
                <li><a href="/">RStudio</a></li>
            </ul>
        </ReactDropdown>
        <ReactDropdown label="Resources" client:load>
            <ul class="grid" style="list-style: none; padding: 0">
                <li><a href="/docs/quick-start/">Documentaion</a></li>
                <li><a href="/blog/">Blog</a></li>
            </ul>
        </ReactDropdown>
        <li><a class="header-link" href="#">Pricing</a></li>
        <li><a class="header-link" href="/design-system/">Design System</a></li>
    </ul>


<style>

    .header-link {
        color: hsl(var( --clr-light-text));
    }

    /* .header-link:hover {
        color: hsl(var(--clr-light-text, 0.1))
    } */

    /* .main-nav-ul li:not(:first-child) {
        margin-left: .5rem;
    } */


</style>

