---
const { title } = Astro.props;
import { SITE } from "../../config.ts"
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>{title}</title>


<link rel="canonical" href={SITE.url + Astro.url.pathname} />
