---
import BaseLayout from './BaseLayout.astro';
import RightSidebar from '../components/docs/RightSidebar.astro';
import LeftSidebarBlog from '../components/docs/LeftSidebarBlog.astro';
import CookieConsent from '../components/CookieConsent.astro';
import '../styles/index.css';
import '../styles/theme.css';
import '../styles/markdown.css';
interface Props {
  lang?: string;
  desc?: string;
  title?: string;
  type?: string;
  thumbnail?: string;
//   schemaHomepage?: object;
//   schemaOverleaf?: object;
//   schemaBlog?: object;
//   schemaBlogPost?: object;
}
const { title, lang, dir, desc, type, frontmatter, headings } = Astro.props;
---

<BaseLayout blog={true}>
   
   <div>

      <section class="grid blog">

         <aside class="leftSideBar">

            <LeftSidebarBlog lang={lang ?? frontmatter.lang} />

         </aside>

         <article class="article" >
            <div class= "test">
                  <slot />
            </div>
         </article>

         <aside class="rightSidebar">

            <RightSidebar headings={headings} githubEditUrl={"githubEditUrl"} />
            
         </aside>

      </section>

   </div>

</BaseLayout>

<style>

@media only screen and (min-width: 1028px) {
   .blog {
   box-sizing: border-box;
   grid-template: "sb main al" / 390px 1fr 290px;
 }
}

@media only screen and (min-width: 1028px) {
   .leftSideBar {
   display: block;
   position: fixed;
   width: 390px;
   overflow-x: hidden;
   padding-bottom: 5rem;
   /* height: calc(100vh - 120px); */
   }
}

    @media only screen and (max-width: 1028px) {
    .leftSideBar{
    display: none;
    }
  }

   .article{
   grid-area: main;
   padding: 2rem 0;
   }

    @media only screen and (min-width: 1028px) {
   .test{
      max-width: 800px;
   }
}

@media only screen and (min-width: 1028px) {
   .rightSidebar{
    width: 290px;
    left: unset;
    right: 0px;
    display: block;
    position: fixed;
   }

}
    @media only screen and (max-width: 1028px) {
    .rightSidebar{
    display: none;
    }
  }

</style>
