---
import Header from '../components/header/Header.astro';
import Footer from '../components/footer/Footer.astro';
const { title, lang, dir, frontmatter, headings } = Astro.props;
---

<Header title={title ?? frontmatter.title} lang={lang ?? frontmatter.lang}>
<body>
   <slot />
</body>
<Footer lang={lang ?? frontmatter.lang}/>
</Header>
