---
const {bibtex} = Astro.props

// let citeKey = ""
---

<!-- conditional rendering -->



<h4>BibTeX:</h4>
<div class="bibtex-wrapper">
<pre class="bibtex" style="margin-bottom: 0">
 {bibtex}
  
</pre>

<button type="button" class="copy">
    <svg id="a" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 96"><path d="m29.85,69.47h-13.66c-7.73,0-14-6.27-14-14V16.5c0-7.73,6.27-14,14-14h26.37c7.73,0,14,6.27,14,14v3.27" style="fill:none; stroke:#e6e6e6; stroke-linecap:round; stroke-linejoin:round; stroke-width:5px;"/><rect x="39.04" y="26.67" width="54.37" height="66.97" rx="14" ry="14" style="fill:none; stroke:#e6e6e6; stroke-linecap:round; stroke-linejoin:round; stroke-width:5px;"/></svg>
</button>

</div>

<div class="alert">Copied to Clipboard!</div>





<style>

.bibtex-wrapper {
    width: 100%;
    position: relative;
}

.bibtex {
    height: 500px;
    background-color: black;
    color: white;
    font-family: Dico-Code-One;
    overflow: auto;
}

.copy {
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 32px;
    background: inherit;
    border: none;
}

.alert {
    visibility: hidden;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color:white;
    color: rgb(32, 32, 32);
    padding: 1rem;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    border-left: 5px solid hsl(var(--clr-secondary));
    box-shadow: 1px 2px 12px 2px gray;
}

.alert-active {
    visibility: visible;
}

</style>

<script>

const code = document.querySelector('.bibtex');
const copyBtn = document.querySelector('.copy');
const alert = document.querySelector('.alert');

let bibtex = code.textContent;

function copy() {
    navigator.clipboard.writeText(bibtex);
    // copyBtn.textContent = "copied!"
    alert.classList.add('alert-active');
    setTimeout(() => {
        alert.classList.remove('alert-active');
    }, 2500);
}

copyBtn.addEventListener('click', copy);

</script>